{% extends "layout.html" %}
{% block title %}Support{% endblock %}
{% block css %}

{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h1>Welcome to tlubenov.info!</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <p>For more information and supported technologies please refer to
        <a href="/technology">dronekarta.com</a>.<br/>
        Commercial support is available at
        <a href="/support">dronekarta.com</a>.</p>

        <a href="/information">Information</a>
        <hr>
        <p><em>Thank you for using DroneKarta.</em></p>

    </div>
</div>

{% endblock %}